<!DOCTYPE html>
<html>
<head>
  <% if (htmlWebpackPlugin.options.trackJSToken) { %>
  <script type="text/javascript">window._trackJs = {token: '<%=htmlWebpackPlugin.options.trackJSToken%>'};</script>
  <script type="text/javascript" src="https://cdn.trackjs.com/releases/current/tracker.js"></script>
  <% } %>
  <meta charset="UTF-8">
</head>
<body onload="MainController.init();">
<div id="wrapper-div">
  <div id="select-level-div">
    <p>PACMAN</p>
    <ul id="select-level-div-ul">
    </ul>
  </div>
  <div id="gameDiv">
    <canvas id="game-board-canvas"></canvas>
    <div id="content">
      <div id="content-p-points"></div>
      <div id="content-ul--lifes">
      </div>
      <div id="content-p-actions">
        <button id="new-game-button">MENU</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>
