
<!DOCTYPE html>
<html>
	<head>
    <!--
    The htmlWebpackPlugin will parse the logic below so that trackJS is only added to the production version of index.html (since only webpack.config.prod.js provides the trackJS token)
    This is an example of how to add features to index.html for only one environment.
   -->
    <% if (htmlWebpackPlugin.options.trackJSToken) { %>
    <!-- BEGIN TRACKJS -->
    <script type="text/javascript">window._trackJs = { token: '<%=htmlWebpackPlugin.options.trackJSToken%>' };</script>
    <script type="text/javascript" src="https://cdn.trackjs.com/releases/current/tracker.js"></script>
    <!-- END TRACKJS -->
    <% } %>
  <meta charset="UTF-8">

	</head>
	<body onload="game.Start();">
		<canvas id="canvas"></canvas>
	</body>
</html>
